[submodule "vim/autoload/vim-pathogen.git"]
	path = vim/autoload/vim-pathogen.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree.git"]
	path = vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic.git"]
	path = vim/bundle/syntastic.git
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular.git"]
	path = vim/bundle/tabular.git
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-airline.git"]
	path = vim/bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-colors-solarized.git"]
	path = vim/bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-easymotion.git"]
	path = vim/bundle/vim-easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround.git"]
	path = vim/bundle/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/base16-vim.git"]
	path = vim/bundle/base16-vim.git
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/emmet-vim.git"]
	path = vim/bundle/emmet-vim.git
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/snipmate.vim.git"]
	path = vim/bundle/snipmate.vim.git
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-multiple-cursors.git"]
	path = vim/bundle/vim-multiple-cursors.git
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/molokai.git"]
	path = vim/bundle/molokai.git
	url = https://github.com/tomasr/molokai.git
