snippet com Section comment #1
	/*
	||=====================================================
	|| ${1:Section title}
	||=====================================================
	*/
	
	${2}

	/*=============== End of "${1:Section title}" ===============*/

snippet com Subsection comment #2
	/*
	| ${1:Section title}
	|-----------------------------------
	*/
	
	${2}

	/*-------- End of "${1:Section title}" --------*/
