"*":
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    invisibles: {}
    fontSize: 21
  welcome:
    showOnStartup: false
  "linter-php":
    phpExecutablePath: "/usr/bin/"
  "linter-scss-lint":
    scssLintExecutablePath: "/usr/bin/"
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/"
  "linter-csslint":
    csslintExecutablePath: "/usr/local/bin/"
  "linter-phpcs":
    phpcsExecutablePath: "/usr/local/bin/"
  "atom-terminal":
    app: "iTerm.app"
  excludeVcsIgnoredPaths: false
  "atom-beautify":
    _analyticsUserId: "b5fdd22d-2e28-409a-9290-de16a5dad33a"
    php_beautifier_path: "/usr/local/bin/php_beautifier"
  linter:
    ignoredLinterErrors: [
      "scss-lint"
    ]
  emmet: {}
