'packages': [
    'atom-beautify'
    'atom-terminal'
    'auto-indent'
    'autocomplete-paths'
    'autocomplete-plus'
    'autocomplete-snippets'
    'emmet'
    'git-plus'
    'language-blade'
    'linter'
    'linter-csslint'
    'linter-jshint'
    'linter-phpcs'
    'linter-scss-lint'
    'monokai'
    'open-last-project'
    'package-sync'
    'project-switcher'
    'Zen'
]
