# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

#
# Comment snippets
#

# /**/ based

'.source.php, .source.js':
  'Section comment':
    'prefix': 'comsec'
    'body': '''
        /*
        ||=========================================================
        || ${1:Section title}
        ||=========================================================
        ||
        || ${2:Description}
        ||
        */

        /*================ End of "${1:Section title}" ================*/
    '''
  'Subsection comment':
    'prefix': 'comsub'
    'body': '''
        /*
        | ${1:Subsection title}
        |--------------------------------
        |
        | ${2:Description}
        |
        */

        /*---- End of "${1:Subsection title}" ----*/
    '''

# For SCSS

'.source.css.scss':
  'media query':
    'prefix': 'med'
    'body': '''
        @media #{\$$1} {
          $2
        }
    '''
  'Section comment':
    'prefix': 'comsec'
    'body': '''
        //=========================================================
        // ${1:Section title}
        //=========================================================
        //
        // ${2:Description}
        //

        //================ End of "${1:Section title}" ================
    '''
  'Subsection comment':
    'prefix': 'comsub'
    'body': '''
        // ${1:Subsection title}
        //--------------------------------
        //
        // ${2:Description}
        //

        //---- End of "${1:Subsection title}" ----
    '''

#
# Laravel snippets
#
'.source.php':
  'Laravel controller':
    'prefix': 'ctl'
    'body': '''
        class ${1:Object}Controller extends BaseController {

        /*
        |--------------------------------------------------------------------------
        | ${2:Object} Controller
        |--------------------------------------------------------------------------
        |
        | ${3:Description goes here}
        |
        */

        }
    '''
  'Laravel test route call':
    'prefix': 'lara-call'
    'body': '$response = $this->call(\'${1:method}\', \'${2:route}\', ${3:params});'
#
# PHP snippets
#
  'function':
    'prefix': 'function'
    'body': '''
        /**
        * ${1:Description}.
        *
        * @return ${2:void}
        */
        ${3:public} function ${4:name}()
        {

        $5

        }
    '''


#
# Angular snippets
#
'.source.js':
  'Angular describe':
    'prefix': 'ng-describe'
    'body': '''
        /*
        ||=========================================================
        || ${1:title}
        ||=========================================================
        ||
        || ${2:Description}
        ||
        */

        describe('${2:name}', function() {

          $3
        });

    '''
  'Angular test':
    'prefix': 'ng-test'
    'body': '''
        /*
        | ${1:title}
        |--------------------------------
        */
        it('${2:description}', function() {

          $3
        });

    '''
  'Protractor browser.get':
    'prefix': 'pro-goto'
    'body': 'browser.get(\'$1\');'
  'Angular expect':
    'prefix': 'ng-expect'
    'body': 'expect($1).toBe(\'$2\');'
