# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

#
# Comment snippets
#

# /**/ based

'.source.php, .source.scss, .source.js':
    'Section comment':
        'prefix': 'coms'
        'body': '''
            /*
            |---------------------------------------------------------
            | ${1:Section title}
            |---------------------------------------------------------
            */

            /*-------------- End of ${2:Section title} --------------*/
            }
        '''

#
# Laravel snippets
#
'.source.php':
    'Laravel controller':
        'prefix': 'ctl'
        'body': '''
            class ${1:Object}Controller extends BaseController {

            /*
            |--------------------------------------------------------------------------
            | ${2:Object} Controller
            |--------------------------------------------------------------------------
            |
            | ${3:Description goes here}
            |
            */

            }
        '''

#
# PHP snippets
#
'.source.php':
    'function':
        'prefix': 'function'
        'body': '''
            /**
            * ${1:Description}.
            *
            * @return ${2:void}
            */
            ${3:public} function ${4:name}()
            {

            $5

            }
        '''
